@model enfoco2.Models.Notice 

@{
    ViewData["Title"] = "Detalles de la Noticia";
}

<div class="notice-details-container p-5">
    <img class="img-fluid w-100" src="@Model.Img" alt="noticia">
    <div class="title-notice">
        <h5 class="text-naranja">@Model.Issue</h5>
        <h2 class="editorial">@Model.Title</h2>
    </div>
    <div class="subtitle">
        <h4>@Model.Subtitle</h4>
    </div>
    <div class="notice-text">
        <p>@Model.Text</p>
    </div>

</div>
