@model enfoco2.Models.NoticeDto

@{
    ViewData["Title"] = Model.Title;
}

@inject enfoco2.Services.NoticeService NoticeService
@{
    var notice = await NoticeService.GetNoticeByIdAsync(Model.Id);

    var last5Notices = NoticeService.GetNotice()
        .OrderByDescending(notice => notice.Id)
        .Take(10)
        .Where(notice => notice.Id != Model.Id)
        .ToList();
}



<div class="row">
    <div class="col-md-8 container-fluid pt-5">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                @*<a href="#" class="btn btn-warning btn-sm mb-3 btn-edit">Editar</a>*@
                <a href="@Url.Action("Delete", "Home", new { id = Model.Id })" class="text-white btn btn-danger btn-sm mb-3" onclick="return showDeleteConfirmation()">Eliminar</a>
                
<script>
    function showDeleteConfirmation() {
        Swal.fire({
            title: '¿Estás seguro de que deseas eliminar esta noticia?',
            text: 'Esta acción no se puede deshacer',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Si el usuario hace clic en "Sí, eliminar", redirige a la acción de eliminación.
                window.location.href = "@Url.Action("Delete", "Home", new { id = Model.Id })";
            }
        });

        // Devuelve false para evitar que se siga la navegación estándar del enlace.
        return false;
    }
</script>

            </div>
        }


        <h5 class="text-naranja notice-detail-issue">@notice.Issue.ToUpper()</h5>
        <h2 class="notice-detail-title">@notice.Title</h2>
        <h3 class="notice-detail-subtitle">@notice.Subtitle</h3>

        <img class="img-fluid img-thumbnail w-100 rounded-5" src="@notice.Img" alt="noticia">

        <div class="content-notice mt-3">
            <p class="notice-detail-text">@Html.Raw(notice.Text)</p>
        </div>

        <a href="@Url.Action("Index", "Home")" class="btn volver"><img style="position: relative; top:-1px;" width="24" height="24" src="https://img.icons8.com/material/24/000000/back--v1.png" alt="back--v1" />VOLVER</a>

    </div>




    <div class="col-md-3 offset-md-0 mt-5">
        <h5>También te puede interesar...</h5>

    @foreach (var last5Notice in last5Notices)
    {
                <a href="@Url.Action("Detail", "Home", new { id = last5Notice.Id })" class="list-group-item list-group-item-action">
                
                <span class="list-group-item-text text-naranja">@last5Notice.Issue</span>
                <p class="list-group-item-heading fw-bold">@last5Notice.Title</p>
                </a>
    }
    </div>
</div>
