@model PagedResult<enfoco2.Models.Notice>

@{
    ViewData["Title"] = "Revista ENFOCO";
}

<div class="container-fluid w-100 m-0 p-0 z-n1">
    <img width="100%" src="~/img/BANNER2.jpg" alt="La Revista Digital de los Organismos de Control Externo de Mendoza" />
</div>


@if (Model.Data.Count == 0)
{

    <p class="alert alert-danger m-3">
        No se encontraron noticias. <a class="alert-link" href="@Url.Action("Index", "Home")">Volver a la página principal</a>
    </p>

}



<div class="text-center notice-container pt-5">

    @foreach (var notice in Model.Data)
    {
        <a href="@Url.Action("Detail", "Home", new { id = notice.Id })" class="notice-link">
            <article class="notice">
                <div class="img-notice-container rounded-2">
                    <img class="img-fluid  w-100 rounded-2" src="@notice.Img" alt="noticia">
                </div>
                <div class="title-notice w-75 rounded-2 @(GetCategoryTitleCssClass(notice.Category))">
                    <h5 class="text-naranja">@notice.Issue.ToUpper()</h5>
                    <h2 class="editorial">@notice.Title</h2>
                </div>
            </article>
        </a>
    }
</div>

<div class="text-center container d-flex justify-content-center">
    @if (Model.TotalPages > 1)
    {
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @if (Model.Page > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Home", new { page = 1 })">Primera</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Home", new { page = Model.Page - 1 })">Anterior</a>
                    </li>
                }

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.Page ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", "Home", new { page = i })">@i</a>
                    </li>
                }

                @if (Model.Page < Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Home", new { page = Model.Page + 1 })">Siguiente</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Home", new { page = Model.TotalPages })">Última</a>
                    </li>
                }
            </ul>
        </nav>
    }
</div>

@functions
{
   
    string GetCategoryTitleCssClass(NoticeCategory category)
    {
        switch (category)
        {
            case NoticeCategory.tribunal:
                return "title-notice-tribunal";
            case NoticeCategory.fiscalia:
                return "title-notice-fiscalia";
            case NoticeCategory.etica:
                return "title-notice-etica";
            default:
                return "title-notice"; 
        }
    }
}