@model List<enfoco2.Models.Notice>

@{
    ViewData["Title"] = "Noticias - ENFOCO";
}

<div class="container-fluid w-100 m-0 p-0 z-n1">
    <img width="100%" src="~/img/noticias.jpg" alt="Noticias" />
</div>

@if (Model.Count == 0)
{
    <p class="mt-5 notice-container pt-5">No hay artículos disponibles.</p>
}



<div class="notice-container pt-5">

    @foreach (var notice in Model)
    {
        <a href="@Url.Action("Detail", "Home", new { id = notice.Id })" class="notice-link">
            <article class="notice">
                <div class="img-notice-container rounded-2">
                    <img class="img-fluid w-100 rounded-2" src="@notice.Img" alt="noticia">
                </div>
                <div class="title-notice w-75 rounded-2 @(GetCategoryTitleCssClass(notice.Category))">
                    <h5 class="text-naranja">@notice.Issue</h5>
                    <h2 class="editorial">@notice.Title</h2>
                </div>
            </article>
        </a>
    }
</div>

@functions
{

    string GetCategoryTitleCssClass(NoticeCategory category)
    {
        switch (category)
        {
            case NoticeCategory.tribunal:
                return "title-notice-tribunal";
            case NoticeCategory.fiscalia:
                return "title-notice-fiscalia";
            case NoticeCategory.etica:
                return "title-notice-etica";
            default:
                return "title-notice";
        }
    }
}